
.icon-robot:before { content: '\e825'; } /* '' */
.icon-plus-circle:before { content: '\e871'; } /* '' */
.icon-alien:before { content: '\e838'; } /* '' */
.icon-avatar:before { content: '\e839'; } /* '' */
.icon-arms:before { content: '\e84e'; } /* '' */
.icon-holiday:before { content: '\e84b'; } /* '' */
.icon-holiday2:before { content: '\e84c'; } /* '' */
.icon-body:before { content: '\e850'; } /* '' */
.icon-legs:before { content: '\e84d'; } /* '' */
.icon-head:before { content: '\e84f'; } /* '' */
.icon-postcard:before { content: '\e866'; } /* '' */
.icon-comicreply_icon:before { content: '\e86b'; } /* '' */
.icon-search-1:before { content: '\e865'; } /* '' */
.icon-ok-1:before { content: '\e854'; } /* '' */
.icon-ok-circled:before { content: '\e855'; } /* '' */
.icon-ok-circled2:before { content: '\e856'; } /* '' */
.icon-ok-squared:before { content: '\e857'; } /* '' */
.icon-cancel:before { content: '\e853'; } /* '' */
.icon-cancel-circled:before { content: '\e852'; } /* '' */
.icon-cancel-circled2:before { content: '\e858'; } /* '' */
.icon-plus:before { content: '\e859'; } /* '' */
.icon-plus-circled:before { content: '\e85a'; } /* '' */
.icon-plus-squared:before { content: '\e85b'; } /* '' */
.icon-minus:before { content: '\e85c'; } /* '' */
.icon-minus-circled:before { content: '\e85d'; } /* '' */
.icon-minus-squared:before { content: '\e85e'; } /* '' */
.icon-help:before { content: '\e860'; } /* '' */
.icon-help-circled:before { content: '\e85f'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-code:before { content: '\e879'; } /* '' */
.icon-pencil:before { content: '\e844'; } /* '' */
.icon-comment:before { content: '\e867'; } /* '' */
.icon-lightbulb:before { content: '\e83c'; } /* '' */
.icon-angle-left:before { content: '\e875'; } /* '' */
.icon-angle-right:before { content: '\e876'; } /* '' */
.icon-angle-double-left:before { content: '\e877'; } /* '' */
.icon-angle-double-right:before { content: '\e878'; } /* '' */
.icon-desktop:before { content: '\e83b'; } /* '' */
.icon-umbrella:before { content: '\e827'; } /* '' */
.icon-list-bullet:before { content: '\e817'; } /* '' */
.icon-briefcase-1:before { content: '\e82f'; } /* '' */
.icon-book:before { content: '\e851'; } /* '' */
.icon-magic:before { content: '\e82d'; } /* '' */
.icon-coffee:before { content: '\e83a'; } /* '' */
.icon-eraser:before { content: '\e845'; } /* '' */
.icon-facebook-1:before { content: '\e868'; } /* '' */
.icon-twitter:before { content: '\e869'; } /* '' */
.icon-camera:before { content: '\e823'; } /* '' */
.icon-info-circled:before { content: '\e863'; } /* '' */
.icon-flag:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-upload:before { content: '\e824'; } /* '' */
.icon-feather:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e821'; } /* '' */
.icon-vcard:before { content: '\e80f'; } /* '' */
.icon-archive:before { content: '\e82a'; } /* '' */
.icon-share:before { content: '\e80d'; } /* '' */
.icon-play:before { content: '\e846'; } /* '' */
.icon-stop:before { content: '\e847'; } /* '' */
.icon-record:before { content: '\e84a'; } /* '' */
.icon-trophy-1:before { content: '\e822'; } /* '' */
.icon-monster:before { content: '\e837'; } /* '' */
.icon-globe:before { content: '\e82c'; } /* '' */
.icon-graduation-cap:before { content: '\e833'; } /* '' */
.icon-megaphone:before { content: '\e829'; } /* '' */
.icon-bucket:before { content: '\e831'; } /* '' */
.icon-star-filled:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-export:before { content: '\e809'; } /* '' */
.icon-chart-pie:before { content: '\e81a'; } /* '' */
.icon-facebook:before { content: '\e81b'; } /* '' */
.icon-popup:before { content: '\e815'; } /* '' */
.icon-equalizer:before { content: '\e861'; } /* '' */
.icon-brush:before { content: '\e808'; } /* '' */
.icon-layers:before { content: '\e86c'; } /* '' */
.icon-chart-pie-alt:before { content: '\e819'; } /* '' */
.icon-user-pair:before { content: '\e81d'; } /* '' */
.icon-volume-up:before { content: '\e86a'; } /* '' */
.icon-award:before { content: '\e862'; } /* '' */
.icon-mobile:before { content: '\e82e'; } /* '' */
.icon-easel:before { content: '\e848'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e843'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e864'; } /* '' */
.icon-trash:before { content: '\e849'; } /* '' */
.icon-bus:before { content: '\e83f'; } /* '' */
.icon-commerical-building:before { content: '\e842'; } /* '' */
.icon-ferry:before { content: '\e840'; } /* '' */
.icon-garden:before { content: '\e83d'; } /* '' */
.icon-giraffe:before { content: '\e830'; } /* '' */
.icon-tennis:before { content: '\e834'; } /* '' */
.icon-theatre:before { content: '\e81f'; } /* '' */
.icon-toilet:before { content: '\e835'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-warehouse:before { content: '\e82b'; } /* '' */
.icon-google:before { content: '\e872'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-cancel-circled-1:before { content: '\e86f'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-wrench-1:before { content: '\e804'; } /* '' */
.icon-volume:before { content: '\e820'; } /* '' */
.icon-resize-vertical:before { content: '\e86e'; } /* '' */
.icon-arrows-cw:before { content: '\e86d'; } /* '' */
.icon-signal:before { content: '\e805'; } /* '' */
.icon-globe-alt:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e841'; } /* '' */
.icon-fontsize:before { content: '\e813'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-gift:before { content: '\e826'; } /* '' */
.icon-address-book:before { content: '\e807'; } /* '' */
.icon-glasses:before { content: '\e832'; } /* '' */
.icon-adult:before { content: '\e828'; } /* '' */
.icon-guidedog:before { content: '\e836'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-ok-circle:before { content: '\e874'; } /* '' */
.icon-cancel-1:before { content: '\e873'; } /* '' */
.icon-cancel-circle:before { content: '\e870'; } /* '' */
.icon-network:before { content: '\e81c'; } /* '' */