@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello2.eot?3814577');
  src: url('../../fonts/fontello2.eot?3814577#iefix') format('embedded-opentype'),
       url('../../fonts/fontello2.woff?3814577') format('woff'),
       url('../../fonts/fontello2.ttf?3814577') format('truetype'),
       url('../../fonts/fontello2.svg?3814577#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3814577#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e812'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-export:before { content: '\e815'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-wrench:before { content: '\e80d'; } /* '' */
.icon-signal:before { content: '\e813'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e80a'; } /* '' */
.icon-users-1:before { content: '\e81d'; } /* '' */
.icon-flag:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-feather:before { content: '\e808'; } /* '' */
.icon-vcard:before { content: '\e80f'; } /* '' */
.icon-mail-alt:before { content: '\e817'; } /* '' */
.icon-network:before { content: '\e814'; } /* '' */
.icon-globe:before { content: '\e819'; } /* '' */
.icon-briefcase:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-popup:before { content: '\e811'; } /* '' */
.icon-brush:before { content: '\e816'; } /* '' */
.icon-chart-pie-alt:before { content: '\e81b'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-left-open:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\e820'; } /* '' */
.icon-up-open:before { content: '\e821'; } /* '' */
.icon-theatre:before { content: '\e80c'; } /* '' */
.icon-fontsize:before { content: '\e81c'; } /* '' */
.icon-address-book:before { content: '\e81a'; } /* '' */
.icon-trophy:before { content: '\e807'; } /* '' */