
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="smeApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="smeApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="smeApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->

<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>Curation Genius</title>

    <script src="data/map.js"></script>

    <!-- Underscore -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

    <!-- Greensock -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    
    <!-- Angular JS Framework  -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>

    <!-- Angular Plugin: Hotkeys -->
    <script src="lib/angular-hotkeys/hotkeys.js"></script>
    <link  href="lib/angular-hotkeys/hotkeys.css" rel='stylesheet' type='text/css' >
    
    <!-- FontAwesome (icons) -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- App -->
    <link rel="stylesheet" href="mockup/css/bootstrap.css">
    <link  href="style/style.css" rel='stylesheet' type='text/css' >
    <script src="js/app.js"></script>
    
    <!-- ...  -->

  </head>
  <body ng-controller="MainCtrl" style="background: url('{{activeQuestion.bg}}') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-repeat: no-repeat;" ng-class="{'dark-bg':activeQuestion.bgDark}">

    <div style="position:absolute; top:0px; bottom:0px; left:0px; width:280px; padding-top:8px; ">
      <div ng-repeat="question in breadcrumbs" style="margin-bottom:8px; padding-left:4px; padding-bottom:8px; border-bottom:1px solid #f1f1f1;">
        <strong style="cursor:pointer;" ng-click="openBreadcrumb(question, $index)">
          {{$index+1}}.
          {{question.question}}
        </strong>
        <span ng-bind="question.lastSelection"></span>
      </div>
    </div>

    <div style="position:absolute; top:0px; bottom:0px; right:0px; left:280px; height:100%; padding-right:280px; text-align:center" >


      <table style="min-height:100%; width:100%">
        <tr>
          <td style="text-align:center; vertical-align:middle; padding-top:5%; padding-bottom:20%">

            <div ng-hide="activeBook">
              <div ng-bind="activeQuestion.question" style="font-size:22px; margin-bottom: 12px;"></div>
              <div ng-repeat="answer in activeQuestion.answers" >
                <div>
                  <button class="btn" ng-click="openDestination(activeQuestion, answer)" style="font-size:32px; width: 240px; margin:12px; white-space: normal; line-height:105%">
                    {{answer.main}}
                    <div ng-bind="answer.sub"  style="font-size:11px;" ></div>
                  </button>
                </div>
              </div>
            </div>

            <div ng-if="activeBook" style="text-align:left; padding:18px">

              <div style="float:left; width:140px;">
                <img ng-src="{{activeBook.image}}" style="max-width:100%">
              </div>
              <div style="float:left; padding:18px; width:440px;  ">
                <div style="font-size:21px;">
                  <a ng-href="{{activeBook.url}}" ng-bind="activeBook.title" target="_blank"></a>
                </div>
                <div style="font-style: italic;">by {{activeBook.author}}</div>
                <div style="margin-top:12px" ng-bind="activeBook.description"></div>
              </div>

            </div>

          </td>
        </tr>
      </table>


    </div>

  </body>
</html>